OPENAI_API_KEY=
GOOGLE_API_KEY=
GROQ_API_KEY=
TOGETHER_API_KEY=

# LangSmith Tracing Configuration
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=digital-egypt-assistant
LANGSMITH_ENDPOINT=https://api.smith.langchain.com

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=digital-egypt-assistant
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

