streamlit
langchain-core
langchain-community
langchain-openai
langchain-together
langchain-google-genai
langchain-huggingface
langchain-chroma
chromadb
huggingface-hub
sentence-transformers
tiktoken
python-dotenv
uuid
pydantic
pydantic-settings
langsmith
langchain-groq
